<h1>Form View</h1>

<form asp-action="Form" method="post">
    <label for="FullName">FullName</label>
    <input type="text" name="FullName" placeholder="Enter your FullName">
    <button type="submit">Send</button>
</form><br>

<h2>Dữ liệu từ controller: @ViewBag.Ten</h2>