<h1>Form Student</h1>
<form asp-action="Index">
<label for="FullName">FullName</label>
<input type="text" name="FullName" ><br><br>
<label for="StudentCode">StudentCode</label>
<input type="text" name="StudentCode"><br><br>
<button type="submit">Send</button>
</form><br>
<h4>Dữ liệu hiển thị: @ViewBag.Thongbao</h4>